<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PageCraft{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/main.css?v={{ static_v }}">
    <link rel="stylesheet" href="/static/css/preview.css?v={{ static_v }}">
    {% block extra_css %}{% endblock %}
    <script src="/static/js/htmx.min.js"></script>
</head>
<body>
    {% block body %}{% endblock %}
    {% block extra_js %}{% endblock %}
</body>
</html>
